@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:400,600');


/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
    box-sizing: border-box;
}

body {
	text-align: center;
	margin: 0;
}

button {
	background-color: #66e3ff;
	border: 1px solid black;
	height: 2.5rem;
}


/* ----------------------------------------
Layout
------------------------------------------- */
.col-25 {
	width: 25%;
}

.col-33 {
	width: 33%;
}

.col-50 {
	width: 50%;
}

.col-66 {
	width: 66%;
}

.col-75 {
	width: 75%;
}

/* ----------------------------------------
Header
------------------------------------------- */
header {
	display: flex;
	margin: -10px 0px 10px 0px;
	padding: 10px 0px 20px 0px;
	text-align: center;
	background-color: #66e3ff;
	font-size: 18px;
}

header img {
	margin-top: 15px;
	height: 30px;
	max-width: 100%
}

.logo-nav {
	width: 10%;
}

.logo-nav a {
	display: block;
	text-decoration: none;
	margin: 10px;
}

.logo-nav h1 {
	margin: 10px;
	color: white;
}

.searchbar{
	margin: 20px;
	font-size: 15px;
}

.searchbar input[type="text"] {
    padding: 10px;
    width: 50%;
}

.header-products {
	display: block;
	padding-top: 15px;
	width: 80%;
}


.cart-icon {
	width: 10%;
	padding-top: 15px;
	font-size: 40px;
}


/* ----------------------------------------
Footer
------------------------------------------- */
.icons {
	font-size: 30px;
	margin: 20px;
}

a {
	margin: 5px;
}


/* ----------------------------------------
Categories
------------------------------------------- */
