@import url('https://fonts.googleapis.com/css?family=Lato|Raleway:400,600');


/* ----------------------------------------
Base Styles
------------------------------------------- */
* {
    box-sizing: border-box;
    border-radius: 25px;
}

body {
	text-align: center;
	margin: 0;
	background-image: url("background.jpg"); 
	background-repeat: no-repeat;
  	background-size: cover;
}

button {
	border: 1px solid green;
	background-color: white;
	max-width: 50%;
	border-radius: 20%;
}




/* ----------------------------------------
Layout
------------------------------------------- */
.col-25 {
	width: 25%;
}

.col-33 {
	width: 33%;
}

.col-50 {
	width: 50%;
}

.col-66 {
	width: 66%;
}

.col-75 {
	width: 75%;
}

/* ----------------------------------------
icon
------------------------------------------- */
.icon {
	max-height: 25px;
}


/* ----------------------------------------
NAV
------------------------------------------- */
nav {
	text-align: right;
}


/* ----------------------------------------
Header
------------------------------------------- */
h1 {
	font-size: 100px;
	font-family: Cursive;
}

/* ----------------------------------------
Search
------------------------------------------- */
input {
	font-size: 20px;
}


/* ----------------------------------------
Login Page
------------------------------------------- */
.loginPage { 
  height: 500px;
  position: relative;
}

.loginBox {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.unameBox, .pswBox {
	margin: 10px;
}

.options button,label,input,span {
	margin: 5px;
}



/* ----------------------------------------
Results
------------------------------------------- */
.results {
	text-align: left;
	padding: 10px 0px 10px 25px;
}




/* ----------------------------------------
History
------------------------------------------- */
.history {
	text-align: left;
	padding: 10px 0px 10px 25px;
}